/*-------------------------------------------------EJERCICIO-------------------------------------------*/
/*.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 330px;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9 {
  width: 100px;
  height: 100px;
  margin: 5px;
  color: white;
  text-align: center;
}

.container-1 {
  background-color: red;
  order: 1;
}

.container-2 {
  background-color: blue;
  order: 2;
}

.container-3 {
  background-color: red;
  order: 3;
}

.container-4 {
  background-color: black;
  order: 4;
}

.container-5 {
  background-color: orange;
  order: 5;
}

.container-6 {
  background-color: brown;
  order: 6;
}

.container-7 {
  background-color: green;
  order: 7;
}

.container-8 {
  background-color: aqua;
  order: 8;
}

.container-9 {
  background-color: aquamarine;
  order: 9;
}*/

/*---------------------------------------EJERCICIO 2---------------------------*/
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 330px;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9 {
  width: 100px;
  height: 100px;
  margin: 5px;
  color: white;
  text-align: center;
}

.container-1 {
  background-color: red;
  order: 9; 
}

.container-2 {
  background-color: blue;
  order: 3; 
}

.container-3 {
  background-color: red;
  order: 4; 
}

.container-4 {
  background-color: black;
  order: 5; 
}

.container-5 {
  background-color: orange;
  order: 1; 
}

.container-6 {
  background-color: brown;
  order: 6; 
}

.container-7 {
  background-color: green;
  order: 7; 
}

.container-8 {
  background-color: aqua;
  order: 8; 
}

.container-9 {
  background-color: aquamarine;
  order: 2; 
}